# Ignore dependencies (EAS will install them on the cloud)
node_modules/

# Ignore builds and cache
.expo/
dist/
web-build/

# Ignore large logs
android-error.json
android-error.log

# Native folders are included so EAS uses the pre-configured native projects
